<div class="dialog-root">
  <div class="dialog-header">
    <h3>{{ isEdit ? 'Edit User' : 'Create User' }}</h3>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <div class="two-col-grid">
      <!-- LEFT SIDE (5 fields) -->
      <div class="form-left">


           <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" placeholder="Full name" />
        </div>

        <div class="form-group">
          <label>User Code</label>
          <input type="text" formControlName="userCode" placeholder="Enter user code" />
        </div>
      


          <div class="form-group">
          <label>Role</label>
          <input list="rolesList" formControlName="role" placeholder="Select role" />
          <datalist id="rolesList">
            <option *ngFor="let r of roles" [value]="r.role"></option>
          </datalist>
        </div>

         <div class="form-group">
          <label>Department</label>
          <select formControlName="departmentName" (change)="onDepartmentChange($event)">
            <option value="">-- Select Department --</option>
            <option *ngFor="let d of departments" [value]="d.departmentName">
              {{ d.departmentName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>SubDepartment</label>
          <select formControlName="subDepartmentName">
            <option value="">-- Select SubDepartment --</option>
            <option *ngFor="let sd of subDepartmentsData" [value]="sd.name">
              {{ sd.name }}
            </option>
          </select>
        </div>


      </div>

      <!-- RIGHT SIDE (4 fields) -->
      <div class="form-right">


               <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="emailId" placeholder="Email address" />
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="tel" formControlName="phoneNumber" placeholder="Mobile number" />
        </div>

         
        <div class="form-group">
          <label>Username</label>
          <input type="text" formControlName="userName" placeholder="Username" />
        </div>


         <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" />
        </div> 
      
<div class="form-group">
  <label>Profile Image</label>
  <input type="file" accept="image/*" (change)="onFileSelected($event)" />
  <img *ngIf="previewImage" [src]="previewImage" class="preview-img" alt="preview" />
</div>





   
      </div>
    </div>

    <!-- Actions -->
    <div class="actions">
      <button type="button" class="btn cancel" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn save" [disabled]="registerForm.invalid">Save</button>
    </div>
  </form>
</div>
