
<div style="height: 60px;"></div>
<div>
  <div class="conatainer">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="overlay"> 
      <img src="/freepik__candid-image-photography-natural-textures-highly-r__28920.jpeg" alt="Slide 2">
      <div class="content-overlay">
        <h6>COMPREHENSIVE SOLUTIONS</h6>
        <p>Providing an all-in-one platform that streamlines planning, scheduling, machine production, 
          rejection management, operator tracking, downtime analysis, detailed reporting.</p>
          <button class="custom-button">Comprehensive Software Solutions</button>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="overlay">
      <img src="/motherboard-background.jpg" alt="Slide 3">
      <div class="content-overlay Embedded">
        <h6> EMBEDDED INNOVATION</h6>
        <p>Pioneering the future of technology with high-quality PCB board 
          development and efficient embedded programming solutions.
          </p>
          <button class="custom-button">Comprehensive Software Solutions</button>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="overlay">
      <img src="/freepik__candid-image-photography-natural-textures-highly-r__22273.jpeg" alt="Slide 1">
      <div class="content-overlay">
        <h6>INDUSTRY IoT SOLUTIONS</h6>
        <p>Transform your manufacturing process with our Industry IoT solution,
           enabling real-time data analytics and seamless connectivity for 
           unparalleled efficiency.
            </p>
          <button class="custom-button">Comprehensive Software Solutions</button>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="overlay">
      <img src="modern-equipped-computer-lab.jpg" alt="Slide 1">
      <div class="content-overlay Ino">
        <h6>R&D INNOVATION</h6>
        <p>Advancing technology through dedicated research, development. 
          Our team focuses on pioneering innovative solutions for embedded systems 
          and web applications.
        </p>
          <button class="custom-button">R&D Innovation</button>
      </div>
    </div>
    </ng-template>
  </owl-carousel-o>
</div>
</div>

<app-cards></app-cards>
<div style="height: 30px;"></div>
