<app-header></app-header>

  <div class="maincontent">
    
       <!-- Welcome Header -->
       <div class="welcome-card">
         <div class="date-time">
           <img src="https://cdn-icons-png.flaticon.com/128/10692/10692035.png" alt="Calendar Icon" class="calendar-icon" />
           <span>{{ dateTime }}</span>
         </div>
         <div class="user-welcome">
           <span style="color: aliceblue;">Welcome, {{ userData?.username?.toUpperCase() || 'User' }}</span>
           <img class="user-icon" [src]="userData?.photoURL || ''" alt="User Avatar" />
         </div>
       </div>
   
</div>

<app-footer></app-footer>
