<app-footr></app-footr>
<app-header></app-header>
  
<div class="header-section">
  <img src="motherboard-background (2).jpg" alt="Header Background" class="header-bg">
  <div class="header-overlay">
    <h1 class="title">
      <span class="title-text">DwinDisplay</span>
      <span class="title-subtext">Innovative PCB Solutions</span>
      
    </h1>
  </div>
</div>

<section class="blog-section">
  <h1 class="section-title">Our Blog</h1>
  <div class="blog-grid">
    <!-- Module 1 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M4 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4zm2 0v16h12V4H6zm5 2h2v2h-2V6zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>
Image Integration Using DGUS Editor</p>
      <a [routerLink]="['/dwincontant']" class="read-more">Read More</a>
    </div>
    
    
    
    <!-- Module 3 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>Text and ASCII Keyboard Configuration in DGUS Tool</p>
      <a [routerLink]="['/dwincontant3']" class="read-more">Read More</a>
    </div>
    
    <!-- Module 4 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>
Variable Input Configuration in DGUS Tool</p>
      <a [routerLink]="['/dwincontant4']" class="read-more">Read More</a>
    </div>
    
    <!-- Module 5 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>Final Step: Saving and Exporting Project to SD Card</p>
      <a [routerLink]="['/dwincontant5']" class="read-more">Read More</a>
    </div>
    
    <!-- Module 6 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>Reading and Writing Data via UART Command Format</p>
    <a [routerLink]="['/dwincontant6']" class="read-more">Read More</a>
    </div>
    
    <!-- Module 7 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>Sending UART Commands Using Docklight</p>
     <a [routerLink]="['/dwincontant7']" class="read-more">Read More</a>
    </div>
    
    <!-- Module 8 -->
    <div class="blog-card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8m-1 2h2v6h-2V6zm0 8h2v2h-2v-2z"/>
        </svg>
      </div>
      <h3>Dwin Display</h3>
      <p>UART-Based Interaction with DWIN Display: Read & Write</p>
     <a [routerLink]="['/dwincontant8']" class="read-more">Read More</a>
    </div>
  </div>
</section>

<app-footer></app-footer>

