<section id="slider">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3" checked>
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">
    <label for="s1" id="slide1">
      <div class="content">
        <h4>Slide 1 Title</h4>
        <p class="para">Our melting software optimizes the production process by managing raw materials, 
          alloy additions, and temperature monitoring without human contact. It automates planning, furnace 
          selection, and charge-mix composition, providing real-time data access on mobile or computer. Key
          features include spectrum analysis, automatic reports, stock updates, and furnace maintenance tracking 
          for efficient and high-quality production.</p>
    </div>
    </label>
    <label for="s2" id="slide2"></label>
    <label for="s3" id="slide3"></label>
    <label for="s4" id="slide4"></label>
    <label for="s5" id="slide5"></label>
</section>