<app-footr></app-footr>

<div class="header-section">
  <img src="assets/motherboard-background (2).jpg" alt="Header Background" class="header-bg" />

  <div class="header-overlay">
    <h1 class="title">
      <span class="title-text">Resistor</span>
      <span class="title-subtext">A resistor is a passive electrical component that restricts or limits the flow of electrical current in a circuit.</span>
    </h1>

    <div class="date-display">
      <img
        src="https://cdn-icons-png.flaticon.com/128/10692/10692035.png"
        alt="Calendar Icon"
        class="calendar-icon"
      />
      <span>{{ todayDate }}</span>
    </div>

    <h6 class="title-special-link" >
    Resistance is measured in ohms (Ω), and the behavior of a resistor is defined by Ohm's Law:
    </h6>
    <h6 class="title-special-link" >
    V = I × R
    </h6>
  </div>
</div>



<app-footer></app-footer>