<app-footr></app-footr>
<div>
  <header class="hero">
    <div class="hero-content">
      <h1>Join Our Team at Acceedo</h1>
      <p>We're building the future of IT and digital transformation. Be a part of our journey.</p>
      <a  class="btn" (click)="scrollToJobs()" >View Open Positions</a>
    </div>
  </header>



  <section class="job-listings" id="jobs">
    <h2>Current Openings</h2>
    <div class="job-cards" >
      <div class="job-card" *ngFor="let job of roles">
        <h3>{{ job.role }}</h3>
            <p><strong>Location:</strong> {{ job.location }}</p>
            <p><strong>Experience:</strong> {{ job.experience }}</p>
            <p><strong>Education:</strong> {{ job.education }}</p>
            <p><strong>Requirements:</strong> {{job.requirement}}</p>
              <p><strong>Job Type:</strong> {{job.jobtype}}</p>
              <p><strong>Responsibilities:</strong> {{job.jobresponsibility}}</p>

            <p><strong>Description:</strong> {{job.jobdescription}}</p>
            <a href="#" class="apply-btn" (click)="openWhatsApp()">Apply Now</a>
      </div>
    </div>
  </section>

    <section class="why-join">
    <h2>Why Work With Us?</h2>
    <div class="features">
      <div class="feature">
        <h3>Innovative Projects</h3>
        <p>Work on cutting-edge technologies that challenge your skills.</p>
      </div>
      <div class="feature">
        <h3>Flexible Work Culture</h3>
        <p>Enjoy a balance between work and life with our flexible policies.</p>
      </div>
      <div class="feature">
        <h3>Growth Opportunities</h3>
        <p>We invest in your growth through mentorship and learning programs.</p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>