<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckChange($event)" />
  <div class="nav-header">
    <div class="nav-title">Acceedo</div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#" class="lik">Our Company</a></li>
      <li class="dropdown" [class.active]="isDropdownOpen" data-testid="dropdown">
        <a href="#" class="dropdown-toggle" (click)="toggleDropdown($event)" data-testid="dropdown-toggle">
          Product
         
        </a>
        <ul class="dropdown-menu" data-testid="dropdown-menu">
          <li><a routerLink="/power-metrics">Power Metrics</a></li>
          <li><a routerLink="/heat-treatment">Heat Treatment</a></li>
          <li><a routerLink="/melting-software" >Melting Software</a></li>
          <li><a routerLink="/smart-attendance">Attendance System</a></li>
        </ul>
      </li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Lastest News Blogs</a></li>
      <li><a routerLink="/contactas">Contact</a></li>
    </ul>
  </div>
</div>
<div class="botttom"></div>