<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckChange($event)" />
  <div class="nav-header">
    <div class="nav-title">Acceedo
      <br>
      <span class="nav-subtitle">IIoT Solutions</span>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#" class="lik">Our Company</a></li>
      <li class="dropdown" data-testid="dropdown">
        <a href="#" class="dropdown-toggle"  data-testid="dropdown-toggle">
        Product
        </a>
       <div class="dropdown-menu" data-testid="dropdown-menu">
        <div class="border-color"></div>
       <div class="brand-portfolio">
      <div class="header">                 
    <div class="big-number">200+</div>
    <h2>brands worldwide</h2>
    <p class="description">
      We've established a portfolio of drinks that are best positioned to grow in an ever-changing marketplace.
    </p>
    <div class="brand-boxes">
  <div class="brand-box">
    <h4 class="animated-text" >Heat Treatment</h4>
    <p routerLink="/product1" >Advanced real-time monitoring system for precise heat treatment processes, ensuring optimal material properties and operational efficiency.</p>
  </div>
  <div class="brand-box">
    <h4 class="animated-text" >Melting Hardware</h4>
    <p routerLink="/melting-software" >Our software is the perfect complement to the Melting Hardware device, offering an intuitive interface to view and manage critical operational data.</p>
  </div>
  <div class="brand-box">
    <h4 class="animated-text" >Attendance System</h4>
    <p routerLink="/product2" >Attendance System is a software designed to simplify attendance tracking and salary calculation in industries and businesses.</p>
  </div>
  <div class="brand-box">
    <h4 class="animated-text" >Power Metrics</h4>
    <p routerLink="/power-metrics" >Power Metrics is an advanced industrial solution designed to monitor and manage the power consumption of every machine on your shop floor. </p>
  </div>
</div>

  </div>
  <div class="discover-button">
    <button>DISCOVER OUR BRANDS</button>
  </div>
</div>
       </div>
      </li>
      <li><a routerLink="/services" >Our Services</a></li>
      <li><a routerLink="/career" >Careers</a></li>
      <li><a routerLink = "/aboutas">About us</a></li>
      <li><a routerLink="/contactas">Contact</a></li>
    </ul>
  </div>
</div>
<div class="botttom"></div>