<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="nav">

  <input type="checkbox" id="nav-check">

  <div class="nav-inner">

    <!-- Logo -->
    <div class="nav-header">
 
     <div class="nav-title" routerLink="/acceedo">
        <b>Acceedo</b><br>
        <span class="nav-subtitle">IIoT Solutions</span>
      </div>
     
    </div>

    <!-- Hamburger -->
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <!-- Links -->
    <div class="nav-links">
      <ul>

        <li><a routerLink="/acceedo">Our Company</a></li>

        <!-- PRODUCT DROPDOWN -->
       <li class="nav-item dropdown"
    [class.active]="isDropdownOpen">
  <a href="#"
  class="nav-link"
  (click)="toggleDropdown($event)">
  Solutions
 
  </a>
          

          <div class="dropdown-menu">

            <div class="brands-columns">

              <div class="brands-column">
                <h6>Power Metrics</h6>
                <ul>
                  <li routerLink="/power-metrics">View More</li>
                </ul>
              </div>

              <div class="brands-column">
                <h6>Attendance System</h6>
                <ul>
                  <li routerLink="/product2">View More⟶</li>
                </ul>
              </div>

              <div class="brands-column">
                <h6>Melting Software</h6>
                <ul>
                  <li routerLink="/melting-software">View More⟶</li>
                </ul>
              </div>
              <div class="brands-column">
                <h6>Heat Treatment</h6>
                <ul>
                  <li routerLink="/product1">View More⟶</li>
                </ul>
              </div>
              <div class="brands-column">
                <h6>Production Monitor</h6>
                <ul>
                  <li routerLink="/product-monitor">View More⟶</li>
                </ul>
              </div>

            </div>

          </div>

        </li>

        <li><a routerLink="/services">Our Services</a></li>
        <li><a routerLink="/career">Careers</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/aboutas">About us</a></li>
        <li><a routerLink="/contactas">Contact</a></li>
        <li><a routerLink="/product3">Product & Sale</a></li>

        <!-- LOGIN -->
        <div class="login-dropdown">
          <a class="login-btn">
            <div class="user-circle">
            <i class="fas fa-user user-icon"></i>
          </div>
          </a>
          

          <div class="login-menu">
            <div class="arrow-up"></div>
      
                <!-- ✅ Fixed Sign in link -->
            <a button class="sign-btn"routerLink="/signin">Sign in</a>

            
          

          </div>
          
    </div>


