<app-footr></app-footr>

<div>
  <div class="header-section">
    <img
      src="assets/motherboard-background (2).jpg"
      alt="Header Background"
      class="header-bg"
    />
    <div class="header-overlay">
      <h1 class="title">
        UI Designs Crafted in Adobe XD for DGUS Software Interfaces
      </h1>
    </div>
  </div>

  <div class="container">
    <h1>My Image Gallery</h1>
    <b
      >These interface designs were crafted using Adobe XD and are now
      integrated into DGUS-based HMI systems. Designed for industrial
      applications like production monitoring, network settings, and system
      configuration, each screen reflects usability and modern design principles
      tailored to embedded interfaces.
    </b>

    <div class="gallery">
      <!-- Image 1 -->
      <div class="gallery-item">
        <img src="assets/adobe 1.jfif" alt="Nature 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 2 -->
      <div class="gallery-item">
        <img src="assets/adobe 2.jfif" alt="City 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 3 -->
      <div class="gallery-item">
        <img src="assets/adob 3.jfif" alt="Animal 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 4 -->
      <div class="gallery-item">
        <img src="assets/adobe 4.jfif" alt="Food 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 5 -->
      <div class="gallery-item">
        <img src="assets/adobe 5.jfif" alt="Travel 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 6 -->
      <div class="gallery-item">
        <img
          src="assets/adobe 6.jfif"
          alt="Architecture 1"
          class="gallery-img"
        />
        <div class="img-caption"></div>
      </div>

      <!-- Image 7 -->
      <div class="gallery-item">
        <img src="assets/adobe 7.jfif" alt="Tech 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 8 -->
      <div class="gallery-item">
        <img src="assets/adobe 8.jfif" alt="Art 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 9 -->
      <div class="gallery-item">
        <img src="assets/adobe 9.jfif" alt="Sports 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>

      <!-- Image 10 -->
      <div class="gallery-item">
        <img src="/assets/adobe 10.jfif" alt="Fashion 1" class="gallery-img" />
        <div class="img-caption"></div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
