<app-footr></app-footr>

<div>
  <div class="header-section">
    <img src="assets/motherboard-background (2).jpg" alt="Header Background" class="header-bg">
    <div class="header-overlay">
      <h1 class="title">Blog</h1>
    </div>
  </div>

  <section class="category-section">
    <h2 class="section-title">Category <span class="highlight">Types</span></h2>

    <div class="categories">
      <!-- DWIN -->
      <a class="category-box"
         style="background-image: url('assets/10inch-smart-screen-02.jpg');"
         routerLink="/dwincontant6">
        <div class="overlay">
          <h3>Diwndisplay</h3>
        </div>
      </a>

      <!-- Adobe -->
      <a class="category-box"
         style="background-image: url('assets/The-Silent-End-of-Adobe-XD.png');"
         routerLink="/adobe">
        <div class="overlay">
          <h3>Adobe</h3>
        </div>
      </a>

      <!-- UWP -->
       
      <a class="category-box" 
       style="background-image: url('assets/uwb-pic.png');"
      routerLink="/uwb">
        <!-- <img src="assets/uwp-pic.png" alt="UWP" class="uwp-img"> -->
         <div class="overlay">  <h3>UWB</h3> </div>
      
      </a>
      
      
    </div>
  </section>

  <app-footer></app-footer>
</div>