<app-footr></app-footr>

<div>
  <div class="header-section">
  <img src="assets/motherboard-background (2).jpg" alt="Header Background" class="header-bg">
  <div class="header-overlay">
    <h1 class="title">Blog</h1>
  </div>
</div>



<section class="category-section">
  <h2 class="section-title">Category <span class="highlight">Types</span></h2>
  <div class="categories">
    <!-- Clickable Full Box with routerLink -->
    <a class="category-box" 
       style="background-image: url('assets/10inch-smart-screen-02.jpg');"
       routerLink="/dwincontant6">
      <div class="overlay">
        <h3>Diwndisplay</h3>
      </div>
    </a>

    <!-- Static Boxes (Update with routerLink if needed) -->
    <div class="category-box" style="background-image: url(assets/The-Silent-End-of-Adobe-XD.png);"
     routerLink="/adobe">
      
      <div class="overlay"><h3>Adobe</h3></div>
    </div>

      <div class="category-box" style="background-image: url(../../assets/uwp-pic.png);"
     routerLink="/uwb">
      
      <div class="overlay"><h3>UWB</h3></div>
    </div>

        <div class="category-box" style="background-image: url(../../assets/Resistor.png);"
     routerLink="/resistor">
      
      <div class="overlay"><h3>Resistor</h3></div>
    </div>

  </div>
</section>

<app-footer></app-footer>
