<div>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <h1 class="text-center mb-4">Our Clients</h1>
        <div class="slider">
          <div class="logos">
            <img src="assets/client-1.png" alt="Client 1" class="img-fluid">
            <img src="assets/client-2.avif" alt="Client 2" class="img-fluid">
            <img src="assets/cliet-3.png" alt="Client 3" class="img-fluid">
            <img src="assets/client-4.jpg" alt="Client 4" class="img-fluid">
            <img src="assets/Client-5.png" alt="Client 5" class="img-fluid">
            <img src="assets/Client-6.png" alt="Client 6" class="img-fluid">
            <img src="assets/Client-7.png" alt="Client 6" class="img-fluid">
            <img src="assets/Client-8.png" alt="Client 6" class="img-fluid">
          </div>
          <div class="logos">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
