<div>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <h1 class="text-center mb-4">Our Clients</h1>
        <div class="slider">
          <div class="logos">
            <img src="assets/KGiSTL.png" alt="Client 1" class="img-fluid">
            <img src="assets/SHRI BALAJI ENG.avif" alt="Client 2" class="img-fluid">
            <img src="assets/SVIC.png" alt="Client 3" class="img-fluid">
            <img src="assets/SANDFITS.jpg" alt="Client 4" class="img-fluid">
            <img src="assets/UNIQUE SHELL.png" alt="Client 5" class="img-fluid">
            <img src="assets/INDO SHELL.png" alt="Client 6" class="img-fluid">
            <img src="assets/SKYFAST.png" alt="Client 6" class="img-fluid">
            <img src="assets/JANATICS.png" alt="Client 6" class="img-fluid">
          </div>
          <div class="logos">
            
          </div>
        </div>
      </div>
      <p class="text-center mt-4">
          Acceedo is proud to partner with leading manufacturing industries,
          foundry companies, and engineering enterprises across Coimbatore,
          Tamil Nadu, and India. Our Industrial IoT solutions, smart manufacturing
          systems, machine monitoring platforms, and industrial automation services
          help our clients improve operational efficiency, reduce downtime,
          and achieve digital transformation in their factories.
        </p>
    </div>
  </div>
</div>
