/* You can add global styles to this file, and also import other style files */
@import url("@fortawesome/fontawesome-free/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');


html, body { 
    height: 100%; 
  }
  
  body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgba(238, 238, 238, 1); 
    padding: 0;
  }
  
  

  