<div class="main">
<div id="hero-carousel" class="carousels slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active move" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" class="move" claria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2"  class="move" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="/slide-1.jpeg" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          
          <div class="cards">
            <div class="Heading">
              <h6>
                Transforming Moments Intelligently
              </h6>
            </div>
            <div class="content">
              We convert time and data into meaningful progress for your IoT success Seamlessly connecting moments, devices, and insights for IoT excellence Empowering your IoT journey with intuitive device management and real-time data insights
            </div>
          </div>
          
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/freepik__candid-image-photography-natural-textures-highly-r__28920.jpeg" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
         
          <div class="cards">
            <div class="Heading">
              <h6>
                Smart IoT Solutions              
              </h6>
            </div>
            <div class="content">
              From every tick to every byte, we shape your IoT future in real-time Smart, efficient, and intuitive IoT solutions tailored to your business needs Making every heartbeat of data count for your IoT vision Redefining IoT efficiency with smart data integration and insightful visualizations
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/freepik__candid-image-photography-natural-textures-highly-r__22273.jpeg" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          
          <div class="cards">
            <div class="Heading">
              <h6>
                IoT Intelligence Simplified
              </h6>
            </div>
            <div class="content">
              Transforming data into intelligence to supercharge your IoT-powered innovations Seamless device management meets cutting-edge data analytics—empowering your IoT vision From data to decisions: We streamline IoT intelligence to drive smarter business outcomes.Turning the clockwork of IoT into seamless, actionable intelligence.
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev"></button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next"></button>
  </div>
</div>





